@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Bitter';
      font-weight: 400;
      src: url('../fonts/Bitter/Bitter-Regular.ttf') format('woff');
    }
    @font-face {
      font-family: 'Bitter';
      font-weight: 500;
      src: url('../fonts/Bitter/Bitter-Medium.ttf') format('woff');
    }
    @font-face {
      font-family: 'Bitter';
      font-weight: 600;
      src: url('../fonts/Bitter/Bitter-SemiBold.ttf') format('woff');
    }
    @font-face {
      font-family: 'Bitter';
      font-weight: 700;
      src: url('../fonts/Bitter/Bitter-Bold.ttf') format('woff');
    }
}
